.input{
   border: none;
   width: 100%;
   margin-bottom: 10px;
}

.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 8px black;
    border-radius: 15px;
    width: 50%;
    margin: 20px auto auto auto;
}

.h3{
    background-color: orange;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}