.h1{
    text-align: center;
    background-color: orange;
    margin: 20px auto auto auto;
    padding: 5px 10px;
    width: 40%;
    border-radius: 10px;
}

.containerPrincipal{
    padding: 10px;
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.img{
    width: 50%; /* Lembar de colocar em pix */
    height: auto;
    border-radius: 10px;
}

.p{
    padding: 10px;
    color: white;
    width: 100%;
    text-align: justify;
    
}

.containerParagrafo{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 1.3em;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.pTitle{
    background-color: orange;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/fundo_3.jpg');
    background-size: cover;
    /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita que a imagem se repita */
    background-attachment: fixed;
   /*  height: 100vh; */
    /* background-color: black; */
    box-shadow: 0px 0px 8px black;
    margin-bottom: 10px;
    width: 100%;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url('../../public/fundo_3.jpg'); */
    background-size: cover;
    /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita que a imagem se repita */
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
    margin-bottom: 10px;
}

.gallery{
    border: 1px solid red;
    width: 60%;
    background-color: black;
}

.containerPai{
    border: 1px solid orange;
    padding: 10px;
    width: 100%;
}

.containerImgs{
    border: 1px solid green;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgGalerry{
    width: 450px;
    padding: 10px;
    box-shadow: 0px 0px 8px aqua;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.imgGalerry:hover{
    transform: scale(1.1); /* Aplica um zoom de 10% */
}

/* Arquivo CSS */
.customgalleria .pgalleriaitemnavleft, 
.customgalleria .pgalleriaitemnavright {
  background-color: #333; /* Cor de fundo */
  color: #fff;           /* Cor do texto/ícone */
  border-radius: 50%;    /* Bordas arredondadas */
  width: 40px;           /* Largura do navegador */
  height: 40px;          /* Altura do navegador */
  display: flex;         /* Flexbox para centralizar o conteúdo */
  align-items: center;   /* Alinha verticalmente o conteúdo */
  justify-content: center; /* Alinha horizontalmente o conteúdo */
}

/* Adiciona espaçamento em torno dos navegadores */
.customgalleria .pgalleriaitemnavleft {
  margin-left: 10px;
}

.customgalleria .pgalleriaitemnavright {
  margin-right: 10px;
}

/* Adiciona hover effects */
.customgalleria .pgalleriaitemnavleft:hover, 
.customgalleria .pgalleriaitemnavright:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse */
}
