.h1 {
    text-align: center;
    background-color: orange;
    margin: 20px auto auto auto;
    padding: 5px 10px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.containerPrincipal {
    padding: 10px;
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.img {
    width: 50%;
    /* Lembar de colocar em pix */
    height: auto;
    border-radius: 10px;
}

.p {
    padding: 10px;
    color: white;
    width: 100%;
    text-align: justify;

}

.containerParagrafo {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 1.3em;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.pTitle {
    background-color: orange;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/fundo_5.jpg');
    background-size: cover;
    /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita que a imagem se repita */
    background-attachment: fixed;
    /*  height: 100vh; */
    /* background-color: black; */
    box-shadow: 0px 0px 8px black;
    margin-bottom: 10px;
    width: 100%;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url('../../public/fundo_3.jpg'); */
    /* background-size: cover; */
    /* Ajusta a imagem para cobrir todo o elemento */
  /*   background-position: center; */
    /* Centraliza a imagem */
   /*  background-repeat: no-repeat; */
    /* Evita que a imagem se repita */
   /*  background-attachment: fixed; */
    /* height: 100vh; */
    /* background-image: linear-gradient(to right, black, blue, black) ; */
    background-color: black;
    margin-bottom: 10px;
}

.gallery {
    border: 1px solid red;
    width: 60%;
    background-color: black;
}

.containerPai {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.containerImgs {
    /*   border: 1px solid green; */
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgGalerry {
    width: 400px;
    padding: 10px;
    box-shadow: 0px 0px 10px aqua;
    transition: transform 0.3s ease;
    /* Adiciona uma transição suave */
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.imgGalerry:hover {
    transform: scale(1.1);
    /* Aplica um zoom de 10% */
}

/* Tentantiva de ativar minha galeria */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    max-width: 90%;
    max-height: 90%;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 60px;
    color: red;
    cursor: pointer;
}

.controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

.controls button {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}

/* TECNOLOGIAS UTILIZADAS */

.conatinerTecPai{
    
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
    margin-top: 20px;
}

.h2 {
    background-color: orange;
    padding: 5px 20px;
    border-radius: 10px;
}

.ul {
    padding: 10px;
    color: white;
    padding-left: 30px; /* Adiciona espaço à esquerda */
    font-size: 1.3em;
}

.cabecalhoH2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

.containerTecnologias{
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    justify-items: baseline;

}